
/*------------------  page-tpl  -------------*/

/*.animate-article{
	flex-basis: 20%;
}*/

/**{
	background: red ;
}*/

#main_content{
	flex-basis: 60%;
	padding: 2px;
	margin: 2px;

	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: space-around;

	/*border: 1px solid #0CFB00;*/

}

.animate-article{

	width: 48% !important;
	text-align: center;

}

#header_main_content{
	text-align: center;
	height: 100px;
	width: 100%;
	/*border: 2px solid red;*/
}